<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <style>
        @font-face {
            font-family: "THSarabunNew";
            src: url({#asset thsarabunnew-webfont.eot @encoding=dataURI}) format("embedded-opentype"), url({#asset thsarabunnew-webfont.woff @encoding=dataURI}) format("woff"), url({#asset thsarabunnew-webfont.ttf @encoding=dataURI}) format("truetype");
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: "THSarabunNew", sans-serif;
        }

        .title {
            font-size: 16px;font-weight: bold;
        }

        .center-justify {
            text-align: center;
        }
    </style>
</head>
<body>
       {{!-- <h6 style="font-size: 16px;font-weight: bold;margin-left: 150px;">องค์ประกอบที่ &nbsp;{{standardNo}} &nbsp;&nbsp;&nbsp;&nbsp;{{standardName}}</h6> --}}
        <div>
            <span class="title">ตัวบ่งชี้ที่&nbsp;&nbsp;{{indicatorNo}}</span><span>&emsp;&emsp;&emsp;{{indicatorName}}</span>
        </div>
        <div>
            <span class="title">ชนิดของตัวบ่งชี้</span><span>&emsp;&emsp;&nbsp;&nbsp;{{indicatorType}}</span>
        </div>
        <div>
            <span class="title">คำอธิบายตัวบ่งชี้</span>
            {{{indicatorInfo}}}
        </div>
        <div>
            <span class="title">เกณฑ์การประเมิน</span>
        {{{indicatorGain}}}
        </div>
        <div>
            <span class="title">ผลการดำเนินงาน</span>
        {{{sarResult}}}
        </div>
        <div style="margin-top: 3px;">
            <span class="title">ผลการประเมินตนเอง</span>
        <table border="1" cellspacing="0" cellpadding="3" width="100%">
                <tr>
                    <td class="center-justify">เป้าหมาย</td>
                    <td class="center-justify">ผลการดำเนินงาน</td>
                    <td class="center-justify">การบรรลุเป้าหมาย</td>
                    <td class="center-justify">คะแนนการประเมินตนเอง</td>
                </tr>
                <tr>
                    <td class="center-justify">{{goal}}</td>
                    <td class="center-justify">{{sumResult}}</td>
                    <td class="center-justify">{{{goalCk}}}</td>
                    <td class="center-justify">{{score}}&ensp;คะแนน</td>
                </tr>
        </table>
        </div>
</body>
</html>